.button {
    -fx-font-weight: bold;
}

.main{
    -fx-background-color:  #1d1d1d;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.reminder {
    -fx-border-color: #ff3366;
    -fx-border-width: 50px;
    -fx-border-radius: 10 10 10 10;
}